/**
 * @file
 * Styles for the audio player.
 */

.audiojs {
  color: $dark-blue;
  background: $dark-gray; 
  @include box-shadow(none);

  .loaded { 
    background: $medium-gray; 
  }

  .progress { 
    background: $dark-blue; 
  }
}